*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: helvetica;
  font-size: 1.2em;
  line-height: 1.3em;
  color: #1E1E24;
  background-color: #e5d5c84f;
  opacity: 0.9;
}

header
{
  border-bottom: 1px solid seashell;
  height: 69px;
  position:fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  width: 100%;
  background-color:  #F9F8F6;
}


h1
{
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 2.7em;
}


header img
{
  height: 30px;
}

nav ul
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style-type: none;
}

ul li a
{
  color: #1E1E24;
  text-decoration: none;
}

ul li a:hover
{
  display: block;
  text-decoration: underline #ff7301a1;
  transition: 0.5;
}

.mainsection
{
  height: 700px;
  width: 1200px;
  margin: auto;
  background-image: url(hero.png);
  background-size: cover;
  background-position: center;
}

.mainsection
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.band
{
  background-color: #e5d5c8a1;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.section1
{
  h2,p{
    text-align: center;
  }
} 

.cards{
  width: 1000px;
  height: 700px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6,1fr);
  gap: 15px;
}

.cards div img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.card_1{
  grid-row: 1 / span 2;
}
.card_2{
  grid-row: 1 / span 2;
  grid-column: 2 / span 2;
}
.card_3{
  grid-row: 1 / 7;
  grid-column: 4 / -1 ;
}
.card_4{
  grid-row: 3 / span 2;
  grid-column: 1 / span 2;
}
.card_5{
  grid-row: 3 / span 2;
}
.card_6{
  grid-row: 5 / span 2 ;
  grid-column: 1 / span 3;
  border-radius: 15px;
  background-color: #e5d5c8a1;
}


footer
{
  height: 100px;
  background-color: #ff730134;
  text-align: center;
  font-size: 0.8em;
}
